 # Dependencies
 /node_modules
 
 # Build output
 /dist
 
 # Dev-specific files
 .env.local
 .env.development.local
 npm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 
 # IDEs
 .idea
 .vscode
node_modules
